<div class="nav-header">
    <!-- <a href="index.html" class="brand-logo">
        Marengo
    </a> -->
    <div class="brand-logo">
        <a href="#">
            <b class="logo-abbr"> S </b>
            <span class="logo-compact"> Somany</span>
            <span class="brand-title">
                <img src="/static/web/images/somany-logo.jpg" alt="">
            </span>
        </a>
    </div>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>


