<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800,800i" rel="stylesheet">
    <style type="text/css">
        td[class].opensans {
            font-family: 'Montserrat', sans-serif !important
        }

        td[class].raleway {
            font-family: 'Montserrat', sans-serif !important
        }

        div,
        p,
        a,
        li,
        td {
            -webkit-text-size-adjust: none;
        }

        * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        td {
            word-break: break-word;
        }

        a {
            word-break: break-word;
            text-decoration: none;
            color: inherit;
        }

        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
        }

        html {
            width: 100%;
        }

        body .hover:hover {
            opacity: 0.85;
            filter: alpha(opacity=85);
        }

        body td[class].h50 {
            width: 100% !important;
            height: 50px !important;
        }
    </style>
    <style type="text/css">
        @media only screen and (max-width: 615px) {
            body body {
                width: auto !important;
            }

            body table[class=full] {
                width: 100% !important;
                clear: both;
            }

            body table[class=mobile] {
                width: 100% !important;
                padding-left: 30px;
                padding-right: 30px;
                clear: both;
            }

            body table[class=fullCenter],
            body table[class=fullCenter] td {
                width: 100% !important;
                text-align: center !important;
                clear: both;
            }

            body td[class].fullCenter {
                width: 100% !important;
                text-align: center !important;
                clear: both;
            }

            body *[class=erase] {
                display: none;
            }

            .full {
                padding: 0px 15px;
                width: 100% !important
            }

            td[class].erase {
                display: none;
            }

            .button {
                margin-top: 15px;
            }

            td[class].full {
                display: block;
            }

            table[class=full-width] {
                width: 100% !important;
            }

            .full-width {
                width: 100% !important;
                float: left;
            }

            .right-text {
                text-align: right !important;
            }

            .text-left {
                text-align: left !important;
            }

            .mob-15-pad {
                padding-left: 15px !important;
            }

            body {
                overflow-x: hidden;
            }
        }

        .button3 {
            padding: 15px 20px;
            font: 13px 'Montserrat', sans-serif;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color: #fff;
            background: linear-gradient(to right, #8041F2, #3095ED);
            border-radius: 8px;
            transition: 0.2s ease-in-out;
        }

        .button3:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
            border-radius: 30px;
        }
    </style>
</head>

<body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tbody><tr>
            <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="648" id="m_5029841635509932324m_3414315797279213297template_container" style="background-color:#44ffb1;overflow:hidden;border-style:solid;border-right-width:10px;border-color:#fff;border-radius:0px;border-top:0px solid #fff;border-bottom-width:0 solid #fff;border-left-width:0 solid #fff" bgcolor="#44ffb1">
                    <tbody><tr>
                        <td align="center" valign="top">
                                                                    <table id="m_5029841635509932324m_3414315797279213297template_header_image_container" style="width:100%;background-color:#fff" width="100%" bgcolor="#fff">
                                    <tbody><tr id="m_5029841635509932324m_3414315797279213297template_header_image">
                                        <td align="center" valign="middle">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_5029841635509932324m_3414315797279213297template_header_image_table">
                                                <tbody><tr>
                                                    <td align="center" valign="middle" style="text-align:center;padding-top:0px;padding-bottom:0px;background: #03072e;">
                                                        <p style="margin-bottom:0;margin-top:0"><a href="#" style="font-weight:normal;color:#0071b7;display:block;text-decoration:none" target="_blank"><img src={{logo}} alt="Hithot" width="150" style="border:none;display:inline;font-weight:bold;height:auto;outline:none;text-decoration:none;text-transform:capitalize;font-size:15px;line-height:24px;width:223px" border="0" class="CToWUd" data-bit="iit"></a></p>															</td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                                                                
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_5029841635509932324m_3414315797279213297template_header" style="border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;background-color:#44ffb1;color:#000" bgcolor="#44ffb1">
                                <tbody><tr>
                                    <td id="m_5029841635509932324m_3414315797279213297header_wrapper" style="padding:36px 48px;display:block;text-align:center;padding-top:28px;padding-bottom:27px;padding-left:38px;padding-right:38px" align="center">
                                        <div style="font-size:20px;line-height:34px;font-family:Georgia,serif;font-style:italic;font-weight:400;color:#000">Hello from Hithot!</div>
                                        <h1 style="margin:0;text-align:center;font-size:32px;line-height:40px;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;font-style:normal;font-weight:600;color:#000">Your OTP is: {{otp}}</h1>
                                                                                    </td>
                                </tr>
                            </tbody></table>
                            
                        </td>
                    </tr>
                   
                    <tr>
                        <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_5029841635509932324m_3414315797279213297template_footer_container" style="background-color:#050a30" bgcolor="#050a30">
    <tbody><tr>
        <td valign="top" align="center">
            <table border="0" cellpadding="10" cellspacing="0" width="648" id="m_5029841635509932324m_3414315797279213297template_footer">
                <tbody><tr>
                    <td valign="top" id="m_5029841635509932324m_3414315797279213297template_footer_inside" style="padding:0;padding-top:25px;padding-bottom:31px;padding-left:48px;padding-right:48px">
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                                <tbody><tr>
                                <td valign="top" style="padding:0">
                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td colspan="2" valign="middle" id="m_5029841635509932324m_3414315797279213297credit" style="padding:0;border:0;line-height:125%;padding-left:0px;padding-right:0px;text-align:center;font-size:13px;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;font-weight:400;color:#f7f7f7;padding-top:30px;padding-bottom:0px" align="center">
                                                <p style="color:#f7f7f7">© Copyright {{date}} Hithot, All rights reserved.</p>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#050a30" bgcolor="#050a30">
                                    <tbody><tr>
                                        <td>
                                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="648">
                                                <tbody><tr>
                                                    <td cellpadding="0" cellspacing="0" border="0" height="1" style="line-height:1px;min-width:216px">
                                                    </td>
                                                    <td cellpadding="0" cellspacing="0" border="0" height="1" style="line-height:1px;min-width:216px">
                                                    </td>
                                                    <td cellpadding="0" cellspacing="0" border="0" height="1" style="line-height:1px;min-width:216px">
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                                                            </td>
                    </tr>
                </tbody></table> 
                                    </td>
        </tr>
    </tbody></table>
</body>

</html>